.input {
  padding: 0.5rem;
  margin: 5px;
  width: 250px;
}

.button {
  margin-left: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aqua;
  width: 75px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .input {
    width: 100%;
  }
  .button {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .input {
    width: 300px;
  }
  .button {
    width: 80px;
  }
}
